@import "tailwindcss";

body {
  margin: 0;
  background-color: #f3f4f6;
  font-family: 'Inter', system-ui, sans-serif;
  color: #111827;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
}